div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      h1.page-header Minesweeper
      div.minefield
        div(ng-repeat="row in game.minefield.rows")
          button(ng-repeat="spot in row.spots" ng-click="reveal(spot)" ng-disabled="{{spot.isRevealed}}")
            img(ng-src="{{spot.image}}")
            
footer.footer
  .container
    p
      a(href='http://firexion.com/contact') Email
      = ' | '
      a(href='https://github.com/Firexion/Minesweeper') Issues

div(ng-include='"client/app/main/gameOver.jade"')      